body{
    margin: 0;
    padding: 0;
    background-color:hsl(0, 0%, 100%);
}
#card {
    border: 1px solid rgba(252, 255, 252, 0.8);
    box-shadow: -14px -12px 20px rgba(169, 169, 169, 0.5), 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 360px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#card a{
    border: 1px solid beige;
    font-size: 1.8em;
    margin-right: 1em;
}

#card b{
    position: absolute;
    top: -1px;
    right: 0;
    width: 65px;
    height: 30px;
    background-color: rgb(255, 76, 76);
    border-radius: 0 17px 0 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1.1em;
}

#card p {
    border-radius:90px 3px 90px 3px;
    padding: 10px;
    border: 1px solid rgb(217, 194, 194);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px -10px 20px rgba(181, 183, 187, 0.7), 15px 15px 40px rgba(167, 161, 161, 0.3);
    word-break:keep-all;
}

.category li:first-letter {
    color: red;
    font-size: 1.5em;
    text-transform: capitalize;
}

h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.navbar-brand{
    text-transform: capitalize;
    font-style: italic;
}